<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBookstoreService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2695/BookstoreService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookstoreService"
        contract="MyService.IBookstoreService" name="BasicHttpBinding_IBookstoreService" />
    </client>
  </system.serviceModel>
</configuration>